node_modules
ide/node_modules
ide/dist
api/ttyd-go
api/ttyd-manager
api/ttyd-manager-v2
api/cicy-code-api
api/bindata
api/js/node_modules
api/logs/*
*.psd
*.gif
.env
mitmproxy/__pycache__/
app/worker/public/
